.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black);
    margin-bottom: var(--spacing);
}

.header .navigation {
    width: 100%;
    max-width: var(--width-offset);
    display: flex;
    justify-content: space-between;
}

.index-title {
    display: block;
    font-size: 1.5rem;
}

.nav-right-index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-right-index ul a {
    font-size: 1rem;
    text-decoration: none;
}

.nav-top-right-index {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-right: var(--spacing);
    list-style: none;
}

.nav-bottom-right-index {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-right: var(--spacing);
    list-style: none;
}

.header .navigation ul li a {
    color: var(--color-white);
    padding-right: var(--spacing);
    text-decoration: none;
}

@media(max-width: 700px) {

    .header {
        text-align: center;
    }

    .index-title {
        padding: 0;
    }

    .nav-top-right-index {
        list-style-type: none;
        display: list-item;
        text-align: center;
        padding: 1vw;
        margin: 0;
        gap: 1vw;
    }

    .nav-bottom-right-index {
        text-align: center;
        margin: 0;
        padding: 1vw;
    }

    .nav-top-right-index li {
        display: inline-block;
        margin-right: 5px;

    }

    .nav-top-right-index li:nth-child(3) {
        display: block;

    }


}