.wassup {
    font-size: 2vw;
}

img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    max-height: 300px;
}

.nyjarvorur_title {
    font-size: 3vw;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: var(--spacing);
}

.boxes .box {
    border: 1px solid;
    text-align: center;
    padding: 5vw;
}

.boxes .box a,
.kassar .kassi a {
    color: var(--color-black);
    text-decoration: none;
    font-size: 3vw;
}

.kassar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: var(--spacing);
    margin-bottom: 200 px;
}

.takki_forsida a {
    padding: calc(var(--spacing) * 0.5);
    color: var(--color-white);
    background-color: var(--color-black);
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
}