.wassup {
    font-size: 2vw;
}

.nyjarvorur_title {
    font-size: 3vw;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1vw;
}

.boxes .box {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 5vw;
}

.boxes .box a {
    color: var(--color-black);
    text-decoration: none;
    font-size: 3vw;
}

.takki_forsida a {
    padding: calc(var(--spacing)*0.5);
    color: var(--color-white);
    background-color: var(--color-black);
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
}