@media (max-width: 900px) {

    .kassar,
    .boxes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 501px) {
    .header .navigation {
        flex-direction: column;
    }

    .index-title {
        text-align: center;
    }

    .kassar,
    .boxes {
        grid-template-columns: repeat(1, 1fr);
    }

    .result_textar {
        display: flex;
    }
}

@media (max-width: 900px) {

    .kassar,
    .boxes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 501px) {
    .header .navigation {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .index-title {
        text-align: center;
    }

    .kassar,
    .boxes {
        grid-template-columns: repeat(1, 1fr);
    }

    .result_textar {
        display: flex;
    }

    .header {
        text-align: center;
    }

    .index-title {
        padding: 0;
    }

    .nav-top-right-index,
    .nav-bottom-right-index {
        text-align: center;
        margin: 0;
        gap: 1vw;
    }

    .nav-top-right-index li {
        display: inline-block;
        margin-right: 5px;
    }

    .nav-top-right-index li:nth-child(3) {
        display: block;
    }

    .vara img {
        margin-bottom: var(--spacing);
    }

}